.avatar {
  width: 250px;
  height: 250px;
}
.upload-image {
  margin-top: 15px;
  background-color: #7467ef;
  color: #fff;
  &:hover {
    background-color: #7467ef;
  }
}

@media only screen and (max-width: 992px) {
  .upload-image {
    margin-bottom: 15px;
  }
}
