.letterMain {
  font-family: "Times New Roman", Times, serif !important;
  padding: 24px 30px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0 #ccc;
  .titleMain {
    font-family: "Times New Roman", Times, serif !important;
    font-weight: bold;
  }
  .font-italic {
    font-style: italic;
  }
  .textMain {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 18px !important;
  }
  .name {
    font-size: 20px;
  }

  .textBold {
    font-weight: bold;
  }
}
